<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div id="wrap">
        <div class="login">
            <div><label>用户名:</label><input class="username" type="text" name="username" placeholder="请输入用户名"></div>
            <div><label>密&nbsp;码:</label><input class="password" type="password" name="password" placeholder="请输入密码"></div>
            <span class="login-btn">登录</span>

            <p class="register-tips">注册一下呗？</p>
        </div>
    </div>

    <script src="./js/jquery.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>